@using SandBox.ViewModels
@model DoramasViewModel

<h1>Все дорамы</h1>
<h3>@Model.CurrCategory</h3>
@{
    foreach (var dorama in Model.AllDoramas)
    {
        <div>
            <h3>Название: @dorama.Name </h3>
            <p></p>
        </div>
    }
}