@using SandBox.Models
@model IEnumerable<Doramas>

@{
    Layout = null;

}

<DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>List</title>
    </head>
    <body>
        <h2>Все дорамы</h2>
        @{
            foreach (var dorama in Model)
            {
                <div>
                    <h2>Название: @dorama.Name </h2>
                    <p></p>
                </div>
            }
        }
    </body>
</html>
</DOCTYPE>
