@page
@model SandBox.Pages.FeedbackModel
@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>

<p><br><br />This page for clients questions.</p>
<br />
<br />

<body1 class="feedback">

</body1>]

@using SandBox.Helper

@Html.Create(new string[] { "When have u started to translate k-dramas?<br> 3 year ago", "How many workers in your teams?<br>Our team consists of 5 people" }, "circle")
