@page
@model SandBox.Pages.FeedbackModel
@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>

<p><br><br />This page for clients questions.</p>
<br />
<br />

<body1 class="feedback">

</body1>]

@using SandBox.Helper

@Html.Create(new string[] { "When have u started to translate k-dramas?<br> 3 year ago", "How many workers in your teams?<br>Our team consists of 5 people" , "How many doramas do yuo translate in one year?<br>It depends on the doramas.As we are students we usually translate if it is a popular dorama in Korea.Also when we have a free time.","Are u gonna make your website bigger as well as viewers are growing too?<br>Maybe yes. " ,"I'm sorry I don't wanna say it but your website does`n work sometimes?Can u do it something with it?<br>Oh , we know.Actually  we couldn't collaborate our website well.But we will fix it and show you big results in the future/"}, "circle")
