@page
@model IndexModel
@{
    ViewData["Title"] = "SandBox";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SandBox!</h1>
    <h>Website is made to watch best doramas in Korean Industry</h>
</div>
<br />
<br/>
<div class="text-center">
    <a class="nav-link" href="/Doramas/List">
        <h2 class="display-4">Go to the list of doramas</h2>
    </a>
</div>
